.card-component {
  display: flex;
  gap: 2rem;
  padding: 2rem 3rem;
  background-color: var(--black);
  border-radius: 24px;
  border: 2px solid var(--white);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12);
  margin: 0 auto 2rem auto;
  overflow: hidden;
  max-width: 1200px;
  width: 1200px;
  height: 417px;
}

.card-left {
  display: flex;
  flex-direction: column;
  gap: 0;
  flex: 1;
  padding: 1rem;
}

.card-text h2 {
  font-family: "Open Sans", var(--font-content), sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 54px;
  letter-spacing: 0;
  color: var(--white);
  margin-bottom: 1rem;
  width: 510px;
  height: 108px;
  display: flex;
  align-items: flex-start;
}

.card-text p {
  font-family: "Open Sans", var(--font-content), sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0;
  color: var(--white);
  margin-bottom: 32px;
  width: 485px;
  height: 54px;
  display: flex;
  align-items: flex-start;
}

.card-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.card-right img {
  width: 463px;
  height: 369px;
  object-fit: cover;
  border-radius: 24px;
  transition: transform 0.3s ease;
}

@media (max-width: 768px) {
  .card-component {
    flex-direction: column;
    padding: 2rem;
  }

  .card-right {
    order: -1;
  }
}

.play-overlay .card-right {
  position: relative;
  cursor: pointer;
}

.play-overlay .card-right::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 49%;
  transform: translate(-50%, -50%);
  width: 64px;
  height: 64px;
  background-color: rgba(49, 45, 45, 0.9);
  border: 1px solid var(--white);
  border-radius: 50%;
  z-index: 2;
  transition: all 0.3s ease;
  pointer-events: none;
}

.play-overlay .card-right::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-style: solid;
  border-width: 16px 0 16px 28px;
  border-color: transparent transparent transparent var(--white);
  z-index: 3;
  transition: all 0.3s ease;
  pointer-events: none;
}
