/* for base styles and css*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

@import "tailwindcss";

@theme {
  --color-primary-red: #C22026;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-base-shade: #1E1F22;
  --color-shade-2: #292B31;
  --color-black-100: #000000;
  --color-black-88: #1F1F1F;
  --color-black-80: #333333;
  --color-black-60: #666666;
  --color-black-40: #999999;
  --color-black-32: #ADADAD;
  --color-black-24: #C2C2C2;
  --color-black-16: #D6D6D6;
  --color-black-8: #EBEBEB;
  --color-black-4: #F5F5F5;
  --color-error: #FF0000;
  --color-warning: #FFA800;
  --color-success: #13E574;
  --color-info: #00A3FF;
  --text-heading-1: clamp(2.5rem, 5vw, 2.5rem); /* 40px */
  --text-heading-2: clamp(1.5rem, 3vw, 1.5rem); /* 24px */
  --text-heading-3: clamp(1.25rem, 4vw, 1.25rem); /* 20px */
  --text-heading-4: clamp(1rem, 3vw, 1rem); /* 16px */
  --text-heading-5: clamp(0.875rem, 2.5vw, 0.875rem); /* 14px */
  --text-text-1: clamp(0.75rem, 2vw, 0.75rem); /* 12px */
  --text-text-2: clamp(0.625rem, 1.5vw, 0.625rem); /* 10px */
  --font-content: 'Open Sans', sans-serif;
}

:root {
  --primary-red: #C22026;
  --black: #000000;
  --white: #ffffff;
  --base-shade: #1E1F22;
  --shade-2: #292B31;
  --black-100: #000000;
  --black-88: #1F1F1F;
  --black-80: #333333;
  --black-60: #666666;
  --black-40: #999999;
  --black-32: #ADADAD;
  --black-24: #C2C2C2;
  --black-16: #D6D6D6;
  --black-8: #EBEBEB;
  --black-4: #F5F5F5;
  --error: #FF0000;
  --warning: #FFA800;
  --success: #13E574;
  --info: #00A3FF;
  /* fonts */
  --heading-1: clamp(2.5rem, 5vw, 2.5rem);
  /* 40px */
  --heading-2: clamp(1.5rem, 3vw, 1.5rem);
  /* 24px */
  --heading-3: clamp(1.25rem, 4vw, 1.25rem);
  /* 20px */
  --heading-4: clamp(1rem, 3vw, 1rem);
  /* 16px */
  --heading-5: clamp(0.875rem, 2.5vw, 0.875rem);
  /* 14px */
  --text-1: clamp(0.75rem, 2vw, 0.75rem);
  --text-2: clamp(0.625rem, 1.5vw, 0.625rem);
  --font-content: 'Open Sans', sans-serif;
}

